@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css');

body {
  background-color: #FFFEEC;
  color: #202641;
}

body.dark-mode {
  background-color: #202641;
  color: #FFFEEC;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202641;
    color: #FFFEEC;
  }

  .company-logo {
    content: url('3plate-logo-dark-tr.svg');
  }

  .diffract-logo {
    content: url('diffract-logo-dark-tr.svg');
  }
}

.container img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: underline;
}
